body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1262px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1262px;
  height:760px;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:40px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:40px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u1 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:869px;
  height:40px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:0px;
  width:869px;
  height:40px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u2 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:180px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:393px;
  height:180px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u3 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:869px;
  height:180px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:40px;
  width:869px;
  height:180px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u4 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:180px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:220px;
  width:393px;
  height:180px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u5 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:869px;
  height:180px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:220px;
  width:869px;
  height:180px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u6 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:180px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:393px;
  height:180px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u7 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u7_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:869px;
  height:180px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:400px;
  width:869px;
  height:180px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u8 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:180px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:580px;
  width:393px;
  height:180px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u9 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u9_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:869px;
  height:180px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:580px;
  width:869px;
  height:180px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u10 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
